html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.mainContainer {
    margin: 5rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.attendanceCard {
    background-color: grey;
    color: white;
    border-radius: 12px;
    margin: 2.5rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
}

h1 {
    font-size: 2.5rem;
}

.mainContainer button {
    margin: 1rem;
    border: none;
    width: 15rem;
    height: 3.5rem;
    border: 2px solid #36454F;
    padding: 0.75rem 1.5rem;
    border-radius: 1.5rem;
    color: #36454F;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all .3s ease;
}

.btn:is(button[disabled]) {
    color: lightgray;
    border-color: lightgrey;
    cursor: default;
}

.btn:not([disabled]):hover {
    letter-spacing: 3px;
    transition: all .3s ease;
    color: white;
    background-color: #224c8a;
}

.alertContainer {
    display: flex;
    text-align: center;
    justify-content: center;
}
.alert {
    border-radius: 5px;
    width: 25%;
}
.alertSuccess {
    background-color: lightgreen;
    border: 2px solid green;
}
.alertFailed {
    background-color: lightcoral;
    border: 2px solid red;
}


/* HAMBURGER MENU DESIGNS */
.menuHamburger {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
}
#myLinks {
    display: none;
    position: relative;
    z-index: 2;
    background-color: #224c8a;
}
a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
a.menuIcon {
    width: 100%;
    background: #224c8a;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
.menuButton:hover, .menuLink:hover {
    color: #A7C7E7;
    cursor: pointer;
}

.menuLink:hover{
    background-color: #A7C7E7;
    color: #224c8a;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 50%;
    border-radius: 1rem;
}

.modal-content p {
    font-size: 1rem;
    margin: 5px;
    color: #A9A9A9;
    text-align: center;
}

.modal-content input {
    padding: 10px;
    width: 50%;
    margin-bottom: 12px;
    border: 1px solid #A9A9A9;
    border-radius: 0.3rem;
}

.modal-content button {
    margin-top: 1.5rem;
    border: none;
    width: 15rem;
    border: 2px solid #224c8a;
    background-color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 1.5rem;
    color: #224c8a;
    font-size: 12px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all .3s ease;
}

.modal-content button:hover {
    letter-spacing: 3px;
    transition: all .3s ease;
    color: white;
    background-color: #224c8a;
}


/* The Close Button */
.btnExit {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.btnExit:hover, .btnExit:focus {
    color: #224c8a;
    text-decoration: none;
    cursor: pointer;
}
