html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.mainContainer {
    margin: 5rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input {
    margin: 3px;
    padding: 4%;
    border: 1px solid #A9A9A9;
    border-radius: 0.3rem;
    width: 15rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

#errorOnComputer {
    background-color: lightgray;
    width: 25%;
    border-radius: 10px;
    padding-bottom: 1rem;
}
#errorOnComputer p {
    font-size: 1rem;
}

.attendanceCard {
    background-color: #224c8a;
    color: white;
    border-radius: 12px;
    margin: 2.5rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
}

.attendanceCard input {
    padding: 0.5rem;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 0.8rem;
    line-height: 150%;
    /* text-transform: uppercase; */
}

.btn {
    margin-top: 1.5rem;
    border: none;
    width: 10rem;
    border: 2px solid #36454F;
    padding: 0.75rem 1.5rem;
    border-radius: 1.5rem;
    font-size: 12px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all .3s ease;
}

.btn:hover {
    letter-spacing: 3px;
    transition: all .3s ease;
    background-color: #A7C7E7;
}

/* ALERT DESIGNS */
.alertContainer {
    display: flex;
    text-align: center;
    justify-content: center;
}
.alert {
    border-radius: 5px;
    width: 25%;
}
.alertSuccess {
    background-color: lightgreen;
    border: 2px solid green;
}
.alertFailed {
    background-color: lightcoral;
    border: 2px solid red;
}

/* HAMBURGER MENU DESIGNS */
.menuHamburger {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
}
#myLinks {
    display: none;
    position: relative;
    z-index: 2;
    background-color: #224c8a;
}
a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
a.menuIcon {
    width: 100%;
    background: #224c8a;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
.menuButton:hover, .menuLink:hover {
    color: #A7C7E7;
    cursor: pointer;
}

.menuLink:hover{
    background-color: #A7C7E7;
    color: #224c8a;
}